*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store
Manifest.toml
.Rhistory
deps/deps.jl
.vscode/
GenXJulEnv/
output_data/
MGAResults_min/
MGAResults_max/
YourModel.lp
time_domain_reduction/PreCluster_Plots.jl
time_domain_reduction/TSC_Plots.jl
time_domain_reduction/TSC.jl

gurobi.log
cplex.log
Highs.log

/docs/build/

# Microsoft office temporary files
~$*

# Never include output folders
**/Results*/
**/TDR_Results/

# Example systems which may be or have been under development
Example_Systems/NYISO*
Example_Systems/RealSystemExample/PG_Test_2030_p1/
Example_Systems/RealSystemExample/Inputs/
Example_Systems/SmallNewEngland/ThreeZones_full*
Example_Systems/SmallNewEngland/Simple_Test_Case/
Example_Systems/SmallNewEngland/Simple_Test_Case_Modified/
Example_Systems/SmallNewEngland/Test_Up_Time/
Example_Systems/SmallNewEngland/Test_Down_Time/
2050/

Example_Systems/SmallNewEngland/ThreeZones_full.zip
Example_Systems/SmallNewEngland/ThreeZones_full/*

Example_Systems/SmallNewEngland/ThreeZones_MultiStage/Inputs/*
test_get_retirement_period.jl
.CondaPkg/*
