*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store
/Manifest.toml
.Rhistory
deps/deps.jl
.vscode/
GenXJulEnv/
output_data/
MGAResults_min/
MGAResults_max/
YourModel.lp
time_domain_reduction/PreCluster_Plots.jl
time_domain_reduction/TSC_Plots.jl
time_domain_reduction/TSC.jl
gurobi.log
cplex.log
Example_Systems/SmallNewEngland/ThreeZones/TDR_*
Example_Systems/RealSystemExample/ISONE_Singlezone/Manifest.toml
Example_Systems/RealSystemExample/ISONE_Singlezone/Results*
Example_Systems/RealSystemExample/ISONE_Trizone/Results*
Example_Systems/RealSystemExample/ISONE_Trizone_FullTimeseries/Results*
Example_Systems/RealSystemExample/MGA_ISONE_Trizone_FullTimeseries/Results*
Example_Systems/SmallNewEngland/OneZone/Results*
Example_Systems/SmallNewEngland/OneZone_3VREBin/Results*
Example_Systems/SmallNewEngland/ThreeZones/Results*
/docs/build/
Example_Systems/NYISO/Capacity_reserve_margin.csv
Example_Systems/NYISO/CO2_cap.csv
Example_Systems/NYISO/Energy_share_requirement.csv
Example_Systems/NYISO/Fuels_data.csv
Example_Systems/NYISO/Generators_data.csv
Example_Systems/NYISO/Generators_variability.csv
Example_Systems/NYISO/Load_data.csv
Example_Systems/NYISO/Minimum_capacity_requirement.csv
Example_Systems/NYISO/Network.csv
Example_Systems/NYISO/Results/capacity.csv
Example_Systems/NYISO/Results/charge.csv
Example_Systems/NYISO/Results/costs.csv
Example_Systems/NYISO/Results/curtail.csv
Example_Systems/NYISO/Results/emissions.csv
Example_Systems/NYISO/Results/flow.csv
Example_Systems/NYISO/Results/NetRevenue.csv
Example_Systems/NYISO/Results/network_expansion.csv
Example_Systems/NYISO/Results/nse.csv
Example_Systems/NYISO/Results/power.csv
Example_Systems/NYISO/Results/power_balance.csv
Example_Systems/NYISO/Results/status.csv
Example_Systems/NYISO/Results/storage.csv
Example_Systems/NYISO/Results/time_weights.csv
Example_Systems/NYISO/Results/tlosses.csv
Example_Systems/NYISO/Run.jl
Example_Systems/NYISO/Settings/cbc_settings.yml
Example_Systems/NYISO/Settings/clp_settings.yml
Example_Systems/NYISO/Settings/cplex_settings.yml
Example_Systems/NYISO/Settings/genx_settings.yml
Example_Systems/NYISO/Settings/gurobi_settings.yml
Example_Systems/NYISO/Settings/time_domain_reduction_settings.yml
Example_Systems/NYISO/TDR_Results/Fuels_data.csv
Example_Systems/NYISO/TDR_Results/Generators_variability.csv
Example_Systems/NYISO/TDR_Results/Load_data.csv
Example_Systems/NYISO/TDR_Results/Period_map.csv
Example_Systems/NYISO/TDR_Results/time_domain_reduction_settings.yml
Example_Systems/NYISO.rar
Example_Systems/NYISO/Results/SubsidyRevenue.csv
Example_Systems/NYISO/Generators_data_no_dummies.csv
Example_Systems/NYISO/Generators_variability_no_dummies.csv
Example_Systems/NYISO/Results/CapacityValue.csv
Example_Systems/NYISO/Results/ChargingCost.csv
Example_Systems/NYISO/Results/EnergyRevenue.csv
Example_Systems/NYISO/Results/ESR_prices.csv
Example_Systems/NYISO/Results/ESR_Revenue.csv
Example_Systems/NYISO/Results/prices.csv
Example_Systems/NYISO/Results/RegSubsidyRevenue.csv
Example_Systems/NYISO/Results/reliabilty.csv
Example_Systems/NYISO/Results/ReserveMargin.csv
Example_Systems/NYISO/Results/ReserveMargin_w.csv
Example_Systems/NYISO/Results/ReserveMarginRevenue.csv
Example_Systems/NYISO/Results/storagebal_duals.csv
Example_Systems/RealSystemExample/PG_Test_2030_p1/*
Example_Systems/RealSystemExample/Inputs/*
Example_Systems/SmallNewEngland/ThreeZones_full.zip
Example_Systems/SmallNewEngland/ThreeZones_full/Fuels_data.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Generators_data.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Generators_data_.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Generators_variability.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Load_data.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Network.csv
Example_Systems/SmallNewEngland/ThreeZones_full/README.md
Example_Systems/SmallNewEngland/ThreeZones_full/Results/capacity.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/charge.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/ChargingCost.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/costs.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/curtail.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/emissions.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/EnergyRevenue.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/flow.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/network_expansion.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/nse.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/power.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/power_balance.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/prices.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/RegSubsidyRevenue.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/reliabilty.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/status.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/storage.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/storagebal_duals.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/SubsidyRevenue.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/time_weights.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results/tlosses.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/capacity.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/charge.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/ChargingCost.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/costs.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/curtail.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/emissions.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/EnergyRevenue.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/flow.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/network_expansion.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/nse.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/power.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/power_balance.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/prices.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/RegSubsidyRevenue.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/reliabilty.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/status.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/storage.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/storagebal_duals.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/SubsidyRevenue.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/time_weights.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Results_1/tlosses.csv
Example_Systems/SmallNewEngland/ThreeZones_full/Run.jl
Example_Systems/SmallNewEngland/ThreeZones_full/Run.sh
Example_Systems/SmallNewEngland/ThreeZones_full/Settings/cbc_settings.yml
Example_Systems/SmallNewEngland/ThreeZones_full/Settings/clp_settings.yml
Example_Systems/SmallNewEngland/ThreeZones_full/Settings/cplex_settings.yml
Example_Systems/SmallNewEngland/ThreeZones_full/Settings/genx_settings.yml
Example_Systems/SmallNewEngland/ThreeZones_full/Settings/gurobi_settings.yml
Example_Systems/SmallNewEngland/ThreeZones_full/Settings/time_domain_reduction_settings.yml
Example_Systems/SmallNewEngland/ThreeZones_full/TDR_Results/time_domain_reduction_settings.yml
2050/
Example_Systems/SmallNewEngland/ThreeZones_MultiPeriod/Inputs/Inputs_p2/TDR_Results/Fuels_data.csv
Example_Systems/SmallNewEngland/ThreeZones_MultiPeriod/Inputs/Inputs_p2/TDR_Results/Generators_variability.csv
Example_Systems/SmallNewEngland/ThreeZones_MultiPeriod/Inputs/Inputs_p2/TDR_Results/Load_data.csv
Example_Systems/SmallNewEngland/ThreeZones_MultiPeriod/Inputs/Inputs_p2/TDR_Results/Period_map.csv
Example_Systems/SmallNewEngland/ThreeZones_MultiPeriod/Inputs/Inputs_p2/TDR_Results/time_domain_reduction_settings.yml
Example_Systems/SmallNewEngland/ThreeZones_MultiPeriod/Inputs/Inputs_p3/TDR_Results/Fuels_data.csv
Example_Systems/SmallNewEngland/ThreeZones_MultiPeriod/Inputs/Inputs_p3/TDR_Results/Generators_variability.csv
Example_Systems/SmallNewEngland/ThreeZones_MultiPeriod/Inputs/Inputs_p3/TDR_Results/Load_data.csv
Example_Systems/SmallNewEngland/ThreeZones_MultiPeriod/Inputs/Inputs_p3/TDR_Results/Period_map.csv
Example_Systems/SmallNewEngland/ThreeZones_MultiPeriod/Inputs/Inputs_p3/TDR_Results/time_domain_reduction_settings.yml
