*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store
/Manifest.toml
.Rhistory
deps/deps.jl
.vscode/
GenXJulEnv/
output_data/
MGAResults_min/
MGAResults_max/
YourModel.lp
time_domain_reduction/PreCluster_Plots.jl
time_domain_reduction/TSC_Plots.jl
time_domain_reduction/TSC.jl
gurobi.log
Example_Systems/SmallNewEngland/ThreeZones/TDR_*
Example_Systems/RealSystemExample/ISONE_Singlezone/Manifest.toml
Example_Systems/RealSystemExample/ISONE_Singlezone/Results*
Example_Systems/RealSystemExample/ISONE_Trizone/Results*
Example_Systems/RealSystemExample/ISONE_Trizone_FullTimeseries/Results*
Example_Systems/RealSystemExample/MGA_ISONE_Trizone_FullTimeseries/Results*
Example_Systems/SmallNewEngland/OneZone/Results*
Example_Systems/SmallNewEngland/OneZone_3VREBin/Results*
Example_Systems/SmallNewEngland/ThreeZones/Results*
/docs/build/
Example_Systems/NYISO/Capacity_reserve_margin.csv
Example_Systems/NYISO/CO2_cap.csv
Example_Systems/NYISO/Energy_share_requirement.csv
Example_Systems/NYISO/Fuels_data.csv
Example_Systems/NYISO/Generators_data.csv
Example_Systems/NYISO/Generators_variability.csv
Example_Systems/NYISO/Load_data.csv
Example_Systems/NYISO/Minimum_capacity_requirement.csv
Example_Systems/NYISO/Network.csv
Example_Systems/NYISO/Results/capacity.csv
Example_Systems/NYISO/Results/charge.csv
Example_Systems/NYISO/Results/costs.csv
Example_Systems/NYISO/Results/curtail.csv
Example_Systems/NYISO/Results/emissions.csv
Example_Systems/NYISO/Results/flow.csv
Example_Systems/NYISO/Results/NetRevenue.csv
Example_Systems/NYISO/Results/network_expansion.csv
Example_Systems/NYISO/Results/nse.csv
Example_Systems/NYISO/Results/power.csv
Example_Systems/NYISO/Results/power_balance.csv
Example_Systems/NYISO/Results/status.csv
Example_Systems/NYISO/Results/storage.csv
Example_Systems/NYISO/Results/time_weights.csv
Example_Systems/NYISO/Results/tlosses.csv
Example_Systems/NYISO/Run.jl
Example_Systems/NYISO/Settings/cbc_settings.yml
Example_Systems/NYISO/Settings/clp_settings.yml
Example_Systems/NYISO/Settings/cplex_settings.yml
Example_Systems/NYISO/Settings/genx_settings.yml
Example_Systems/NYISO/Settings/gurobi_settings.yml
Example_Systems/NYISO/Settings/time_domain_reduction_settings.yml
